.selector-for-some-widget {
    box-sizing: content-box;
  }
    @font-face{
      font-family: Proxima Nova;
      src: url(cssfonts/proxima_nova_reg-webfont.woff)format('woff'),
      url(cssfonts/proxima_nova_reg-webfont.woff2)format('woff2');
    }
    @font-face{
      font-family: Trade Gothic;
      src: url(cssfonts/TradeGothicNextRust-Heavy.woff)format('woff'),
      url(cssfonts/TradeGothicNextRust-Heavy.woff2)format('woff2');
    
    }
    h1{
      font-family: Trade Gothic;
      text-decoration: underline;
      color:#f2f2f2;
      font-size: 72px;
      margin: 19px;
      padding: 1px;
    }
    h2{
      font-family: Helvetica;
      color:#f2f2f2;
      font-size: 32px;
      font-weight: bold;
      margin: 19px;
      padding: 1px;
    }
    p{
      font-family: Proxima Nova;
      color:#f2f2f2;
      font-size: 24px;
      margin: 19px;
      padding: 1px;
      
    }
    header {
      position: fixed;
      width: 100%;
      height: 64px;
      left: 0px;
      top: 0px;
      background: #262626;
      overflow: hidden;
    }
    #logo {
      float: left;
    }
    a:link {
      display: flex;
      color: #f2f2f2;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: #f2f2f2;
      background-color: transparent;
      text-decoration: underline;
    }
    a:visited {
      color: #f2f2f2;
      background-color: transparent;
      text-decoration: none;}
    
    a:active {
      color: #ca4f37;
      background-color: transparent;
      text-decoration: underline;
    }
    #menuIcon{
      display: none;
      
    }
    #toggle{
      display: none;
    }
    nav {
    display: flex;
     float:right;
     align-items: center;
     height: 64px;
    }
    #navBar{
      display:flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .circle{
      align-items: center;
      width:24px;
      margin-right: 19px;
    }
    #navEl{
      margin-left: 19px;
      margin-right: 19px;
      font-family: 'Helvetica';
      font-size: 24px;
    } 
    body {
      background-color: #f2f2f2;
      background-image: url(/myportfolio/Images/whitebackground.svg);
      box-sizing: border-box;
      overflow: scroll;
      width:100%;
    }
.breadcrumbs{
      color:#262626;
      display:flex;
      justify-content: start;
      margin-top:80px;
      margin-left: 24px;
    }
.sideBar{
      position:fixed;
    }
h1.display-4{
  color:#262626
}
h2.lead{
color:#262626;
}
.titleTert{
  color:#262626
}
.subTitle{
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}
.sh2{
  color:#262626;
}
.p2{
  color: #262626;
}
.p3{
  color:#262626;
  font-size: 18px;
  
}
 .mainTitle{
      color:#262626;
      font-size: 525%;
      text-align: center;
      
    }
.mainBrief{
      color: #262626;
      text-align: center;
      Margin: 19px 25%;
    }

.problemStage{
  border-top:5px solid #736853;
  background-color: #262626;
      background-image: url(/myportfolio/Images/blackbackground.svg);
    }
.ideationStage{
      border-top: 5px solid #736853;
      background-color: #f2f2f2;
      background-image: url(/myportfolio/Images/whitebackground.svg);
    }
.ideationStage2{
  border-top:5px solid #736853;
  background-color: #262626;
  background-image: url(/myportfolio/Images/blackbackground.svg);
}