 html{
  scroll-behavior: smooth;
 }
 @font-face{
    font-family: Proxima Nova;
    src: url(cssfonts/proxima_nova_reg-webfont.woff)format('woff'),
    url(cssfonts/proxima_nova_reg-webfont.woff2)format('woff2');
  }
  @font-face{
    font-family: Trade Gothic;
    src: url(cssfonts/TradeGothicNextRust-Heavy.woff)format('woff'),
    url(cssfonts/TradeGothicNextRust-Heavy.woff2)format('woff2');
  
  }
  h1{
    font-family: Trade Gothic;
    text-decoration: underline;
    color:#f2f2f2;
    font-size: 72px;
    margin: 19px;
    padding: 1px;
  }
  h2{
    font-family: Helvetica;
    color:#f2f2f2;
    font-size: 32px;
    font-weight: bold;
    margin: 19px;
    padding: 1px;
  }
  p{
    font-family: Proxima Nova;
    color:#f2f2f2;
    font-size: 26px;
    margin: 19px;
    padding: 1px;
    
  }
  header {
    position: fixed;
    width: 100%;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #262626;
    z-index: 10;
  }
  #logo {
    float: left;
  }
  a:link {
    display: flex;
    color: #f2f2f2;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #f2f2f2;
    background-color: transparent;
    text-decoration: underline;
  }
  a:visited {
    color: #f2f2f2;
    background-color: transparent;
    text-decoration: none;}
  
  a:active {
    color: #ca4f37;
    background-color: transparent;
    text-decoration: underline;
  }
  #menuIcon{
    display: none;
    
  }
  #toggle{
    display: none;
  }
  label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 72px;
    display: none;
  }
  nav {
  display:flex;
   justify-content: end;
   align-items: center;
   line-height: 72px;
  }
  .navBar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .circle{
    align-items: center;
    width:24px;
    margin-right: 19px;
  }
  .navEl{
    margin-left: 19px;
    margin-right: 19px;
    font-family: 'Helvetica';
    font-size: 24px;
  } 
  body {
    width:100%;
  }
  .home {
    background-image: url(myportfolio/Images/blackbackground.svg);
    background-size: cover;
    background-color: #262626;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 1060px;
    left: 0px;
    margin-top: 64px;
    padding-left: 1%;
    padding-right:1%;
  }
  .HomeA {
    display:flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: end;
    align-items: center;
  }
  .HomeB {
    display:flex;
    box-sizing: border-box;
    width: 100%;
    float:right;
    justify-content: flex-start;
    align-items: center;
  }
  #bezier{
    box-sizing: border-box;
    width: 56%;
    height: auto;
    min-width: 350px;
  }
  #openMessage { 
    box-sizing: border-box;
    width: 90%;
    height: auto;
    Margin: 1% 5%;
  }
  .scroll-down{
    height: 72px;
    width: 54px;
    border: 3px solid #f2f2f2;
    position:absolute; 
    margin-top:18%;
    left:50%;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
  }
    .scroll-down::before,
    .scroll-down::after{
      content:'';
      position: absolute;
      top: 15%;
      left: 50%;
      border: 3px solid #736853;
      height: 20px;
      width: 20px;
      transform: translate(-50%, -100%) rotate(45deg);
      border-top: transparent;
      border-left: transparent;
      animation: scroll-down 1s ease-in-out infinite;
    }
      .scroll-down::after{
        top: 30%;
        animation-delay: .3s;
      }
      @keyframes scroll-down{
        0%{
          opacity: 0;
        }
        30%{
          opacity: 1;
        }
        60%{
          opacity: 1;
        }
        100%{
          opacity: 0;
          top: 90%;
        }
      }
  /*
  .pageUp{
    outline: solid blue;
    box-sizing: border-box;
    position: fixed;
    bottom:150px;
    right: 90px;
    z-index: 99;
    cursor: pointer;
    }
  .pageDown{
    outline: solid blue;
  box-sizing: border-box;
  position: fixed;
  bottom: 90px;
  right: 90px;
  z-index: 99;
  cursor: pointer;
  }*/
  .work {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    grid-template-areas: "skills caseStudies"
    "skills clients";
    left: 0px;
    top: 1181px;
    background-image: url(myportfolio/Images/orangebackground.svg);
    background-size: cover;
    background-color: #ca4f37;
    padding-left: 1%;
    padding-right:1%;
    
  }
  .WorkA {
    grid-area: skills;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .workAarticle{
    display:flex
    align-items: center;
    justify-content: center;
  }
  .skillsList{
    display:block;
    align-items: center;
    justify-content: center;
  }
  .skillsT{
    text-decoration-line: underline;
    margin:19px;
  }
  .skills{
  line-height: 24px;
  margin: 19px;
  align-items: center;
  justify-content: center;
  }
  
  #caseStudy{
    display: grid;
    grid-template-columns: 30% 60% 10%;
    overflow: visible;
    grid-area: caseStudies;
  }
  #cstypo{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  #cosmosmn{
    width: 75%;
    height:auto;
    box-sizing: border-box;
    float: left;
  }
  #cosmos{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .wButton{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    background-color: #00334f;
    color:#f2f2f2;
    border: none;
    border-radius: 10px;
  }
  #clients{
    grid-area: clients;
    display: grid;
    grid-template-columns: 30% 60% 10%;
  }
  #clientTypo{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
    #rbDrill{
      width: 45%;
      align-self:center;
      justify-self: center;
    }
 
  .info {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 1060px;
    left: 0px;
    top: 2241px;
    background-image: url(myportfolio/Images/bluebackground.svg);
    background-size: cover;
    background-color: #00334f;
    padding-left: 1%;
    padding-right:1%;
    outline: 1px solid red;
  }
  #pictureVasa{
    width: 250px;
    align-self: center;
    justify-self: center;
  
  }
  .InfoA {
    background-color: #00334f;
    outline: 1px solid red;
  }
  .InfoB {
    background-color: #00334f;
    outline: 1px solid red;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 1060px;
    left: 0px;
    top: 3301px;
    background-image: url(myportfolio/Images/bronzebackground.svg);
    background-size: cover;
    background-color: #736853;
    padding-left: 1%;
    padding-right:1%;
    outline: 1px solid red;
  }
  .contactInfo {
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: #262626;
    outline: 1px solid red;
  }
  form {
    font-family: Helvetica, sans-serif;
  }
  h3 {
    font-family: Trade Gothic, Helvetica;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  input[type="text"],
  select,
  [type="tel"],
  [type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 3px solid #736853;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #ca4f37;
    color: white;
    padding: 12px 20px;
  
    border-radius: 5px;
    border: 3px solid #736853;
  
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #f2f2f2;
    color: #262626;
  }
  
  #container {
    width: 500px;
    height: 65%;
    border-radius: 5px;
    background-color: #262626;
    padding: 1%;
    color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
  }
  
  #emailPhonebox {
    display: inline-block;
  }
  
  #fname {
    display: block;
    width: 500px;
    height: 24px;
  }
  #contactP {
    display: block;
    width: 500px;
  }
  
  #Phone {
    display: block;
    width: 500px;
    height: 24px;
  }
  #email {
    display: block;
    width: 500px;
    height: 24px;
  }
  #message {
    display: block;
    height: 200px;
    width: 500px;
  }
  
  .footerNav {
    box-sizing: border-box;
    width: 100%;
    height: 76px;
    left: 0px;
    top: 4467px;
    background: #f2f2f2;
    border: 3px solid #262626;
    padding-left: 5%;
    padding-right: 5%;
  }
  footer {
    display: inline-flexbox;
    background-color: black;
    color: white;
  }
  @media only screen and (max-width: 1700px) and (min-width: 1025px){
    .scroll-down{
      margin-top: 25%;
      right: 50%;

    }

  }
  @media only screen and (max-width: 1024px) and (min-width: 768px){
    .home {
      grid-template-columns: 100%;
      padding: 1%;
    }
    .HomeA{
      box-sizing: border-box;
      width:100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    .HomeB{
      box-sizing: border-box;
      width:100%;
      display:flex;
      justify-content: center;
      align-items: flex-start;
    }
    .scroll-down{
      margin-top: 29%;
    }
    .work{
      padding: 1%;
      grid-template-columns: 100%;
      grid-template-areas: "skills" "caseStudies" "clients";
    }
    #caseStudy{
    display: flex;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    }
    .cair{
      padding:19px;
    }
    .cosmos{
    margin: 19px;
    }
    .wButton{
      margin: 90px;
    }
    /*This is where the hamburger menu starts*/
    #menuIcon{
      display: block;
    }
    label {
      margin: 19px;
      display: block;
      cursor: pointer;
      float: right;
      width: 72px;

    }
    .navBar{
      text-align: center;
      width: 100%;
      display: none;
    }
    .navEl{
      clear: right;
      text-decoration: none;
      margin: 0;
      display: block;
      border-bottom: 1px solid #262626;
    }
    #toggle:checked + .navBar {
      display: block;

    }
    
      /*This is where the hamburger menu ends*/
  }
  @media only screen and (max-width: 767px) and (min-width: 481px){
    .home {
      grid-template-columns: 100%;
      padding: 0px;
    }
    .HomeA{
      box-sizing: border-box;
      width:100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    .HomeB{
      box-sizing: border-box;
      width:100%;
      display:flex;
      justify-content: center;
      align-items: flex-start;
    }
    #openMessage{
      width: 90%;
      align-self: center;
    }
    .scroll-down{
      margin-top: 46%;
    }
    .work{
      padding: 0px;
      grid-template-columns: 100%;
      grid-template-areas: "skills" "caseStudies" "clients";
    }
    #caseStudy{
    display: flex;
    flex-direction: column;
    grid-area: "caseStudies";
    align-items: center;
    justify-content: center;
    }
    #cstypo{
      align-items: center;
      justify-content: center;
    }
    #cosmosmn{
      width: 100%;
      margin: 19px;
    }
    .wButton{
      margin: 90px;
    }
    #clients{
      display: flex;
      flex-direction: column;
      grid-area: "clients";
      align-items: center;
      justify-content: center;
    }
    /*This is where the hamburger menu starts*/
    header{
      height: 72px;
    }
    nav{
      height: 72px;
    }
    #menuIcon{
      display: block;
    }
    label {
      display: block;
      cursor: pointer;
    }
    .navBar{
      text-align: center;
      width: 100%;
      display: none;
    }
    .navEl{
      display: block;
      border-bottom: 1px solid #262626;
      margin: 0;
      background-color: #f2f2f2;
    }
    #toggle:checked + .navBar {
      display: block;

    }
    
      /*This is where the hamburger menu ends*/
  }
  @media only screen and (max-width: 480px) and (min-width: 320px){
    .home {
      grid-template-columns: 100%;
      padding: 0px;
    }
    .HomeA{
      box-sizing: border-box;
      width:100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    .HomeB{
      box-sizing: border-box;
      width:100%;
      display:flex;
      justify-content: center;
      align-items: flex-start;
    }
    #openMessage{
      width: 90%;
      align-self: center;
    }
    .scroll-down{
      margin-top: 70%;
    }
    .work{
      padding: 0px;
      grid-template-columns: 100%;
      grid-template-areas: "skills" "caseStudies" "clients";
    }
    #caseStudy{
    display: flex;
    flex-direction: column;
    grid-area: "caseStudies";
    align-items: center;
    justify-content: center;
    }
    #cstypo{
      align-items: center;
      justify-content: center;
    }
    #cosmosmn{
      width: 100%;
      margin: 19px;
    }
    .wButton{
      margin: 90px;
    }
    #clients{
      display: flex;
      flex-direction: column;
      grid-area: "clients";
      align-items: center;
      justify-content: center;
    }
    /*This is where the hamburger menu starts*/
    header{
      height: 72px;
    }
    nav{
      height: 72px;
    }
    #menuIcon{
      display: block;
    }
    label {
      display: block;
      cursor: pointer;
    }
    .navBar{
      text-align: center;
      width: 100%;
      display: none;
    }
    .navEl{
      display: block;
      border-bottom: 1px solid #262626;
      margin: 0;
      background-color: #f2f2f2;
    }
    #toggle:checked + .navBar {
      display: block;

    }
    
      /*This is where the hamburger menu ends*/
  }

  

  