 html{
  scroll-behavior: smooth;
 }
 @font-face{
    font-family: Proxima Nova;
    src: url(cssfonts/proxima_nova_reg-webfont.woff)format('woff'),
    url(cssfonts/proxima_nova_reg-webfont.woff2)format('woff2');
  }
  @font-face{
    font-family: Trade Gothic;
    src: url(cssfonts/TradeGothicNextRust-Heavy.woff)format('woff'),
    url(cssfonts/TradeGothicNextRust-Heavy.woff2)format('woff2');
  
  }
  h1{
    font-family: Trade Gothic;
    text-decoration: underline;
    color:#f2f2f2;
    font-size: 72px;
    margin: 19px;
    padding: 1px;
  }
  h2{
    font-family: Helvetica;
    color:#f2f2f2;
    font-size: 32px;
    font-weight: bold;
    margin: 19px;
    padding: 1px;
  }
  p{
    font-family: Proxima Nova;
    color:#f2f2f2;
    font-size: 26px;
    margin: 19px;
    padding: 1px;
    
  }
  header {
    position: fixed;
    width: 100%;
    height: 64px;
    left: 0px;
    top: 0px;
    background: #262626;
    overflow: hidden;
  }
  #logo {
    float: left;
  }
  a:link {
    display: flex;
    color: #f2f2f2;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #f2f2f2;
    background-color: transparent;
    text-decoration: underline;
  }
  a:visited {
    color: #f2f2f2;
    background-color: transparent;
    text-decoration: none;}
  
  a:active {
    color: #ca4f37;
    background-color: transparent;
    text-decoration: underline;
  }
  #menuIcon{
    display: none;
    
  }
  #toggle{
    display: none;
  }
  nav {
  display: flex;
   float:right;
   align-items: center;
   height: 64px;
  }
  #navBar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .circle{
    align-items: center;
    width:24px;
    margin-right: 19px;
  }
  #navEl{
    margin-left: 19px;
    margin-right: 19px;
    font-family: 'Helvetica';
    font-size: 24px;
  } 
  body {
    box-sizing: border-box;
    overflow: scroll;
    width:100%;
  }
  #sec-1{
    position: relative;
  }
  .home {
    background-image: url(/myportfolio/Images/blackbackground.svg);
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 1060px;
    left: 0px;
    margin-top: 64px;
    padding-left: 1%;
    padding-right:1%;
    outline: 1px solid red;
  }
  .HomeA {
    display:flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: end;
    align-items: center;
    outline: 1px solid red;
  }
  .HomeB {
    display:flex;
    box-sizing: border-box;
    width: 100%;
    float:right;
    justify-content: flex-start;
    align-items: center;
    outline: 1px solid red;
  }
  #bezier{
    box-sizing: border-box;
    width: 56%;
    height: auto;
    min-width: 400px;
  }
  #openLink { 
    box-sizing: border-box;
    width: 56%;
    height: auto;
    min-width: 400px;
  }
  .pageUp{
    outline: solid blue;
    box-sizing: border-box;
    position: fixed;
    bottom:150px;
    right: 90px;
    z-index: 99;
    cursor: pointer;
    }
  .pageDown{
    outline: solid blue;
  box-sizing: border-box;
  position: fixed;
  bottom: 90px;
  right: 90px;
  z-index: 99;
  cursor: pointer;
  }
  .work {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    grid-template-areas: "skills caseStudies"
    "skills clients";
    left: 0px;
    top: 1181px;
    background-image: url(/myportfolio/Images/orangebackground.svg);
    padding-left: 1%;
    padding-right:1%;
    outline: 1px solid blue;
  }
  .WorkA {
    outline: 1px solid blue;
    grid-area: skills;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .workAarticle{
    line-height: 55px;
  }
  .skillsList{
    list-style: none;
  }
  .skillsT{
    text-decoration-line: underline;
  }
  .skills{
    /*empty for now*/
    overflow: hidden;
  }
  
  #caseStudy{
    outline: 1px solid blue;
    display: grid;
    grid-template-columns: 30% 60% 10%;
    overflow: visible;
    grid-area: caseStudies;
  }
  #cstypo{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
  
  }
  #cosmosmn{
    width: 75%;
    height:auto;
    box-sizing: border-box;
    float: left;
  }
  #cosmos{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .wButton{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    background-color: #00334f;
    color:#f2f2f2;
    border: none;
    border-radius: 10px;
    align-self:flex-end;
    justify-self:end;
   
  }
  #clients{
    
    outline: 1px solid blue;
    grid-area: clients;
    outline: 3px solid red;
  }
 
  .info {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 1060px;
    left: 0px;
    top: 2241px;
    background-image: url(/myportfolio/Images/bluebackground.svg);
    padding-left: 1%;
    padding-right:1%;
    outline: 1px solid red;
  }
  #pictureVasa{
    width: 250px;
    align-self: center;
    justify-self: center;
  
  }
  .InfoA {
    background-color: #00334f;
    outline: 1px solid red;
  }
  .InfoB {
    background-color: #00334f;
    outline: 1px solid red;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 1060px;
    left: 0px;
    top: 3301px;
    background-image: url(/myportfolio/Images/bronzebackground.svg);
    padding-left: 1%;
    padding-right:1%;
    outline: 1px solid red;
  }
  .contactInfo {
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: #262626;
    outline: 1px solid red;
  }
  form {
    font-family: Helvetica, sans-serif;
  }
  h3 {
    font-family: Trade Gothic, Helvetica;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  input[type="text"],
  select,
  [type="tel"],
  [type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 3px solid #736853;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #ca4f37;
    color: white;
    padding: 12px 20px;
  
    border-radius: 5px;
    border: 3px solid #736853;
  
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #f2f2f2;
    color: #262626;
  }
  
  #container {
    width: 500px;
    height: 65%;
    border-radius: 5px;
    background-color: #262626;
    padding: 1%;
    color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
  }
  
  #emailPhonebox {
    display: inline-block;
  }
  
  #fname {
    display: block;
    width: 500px;
    height: 24px;
  }
  #contactP {
    display: block;
    width: 500px;
  }
  
  #Phone {
    display: block;
    width: 500px;
    height: 24px;
  }
  #email {
    display: block;
    width: 500px;
    height: 24px;
  }
  #message {
    display: block;
    height: 200px;
    width: 500px;
  }
  
  .footerNav {
    box-sizing: border-box;
    width: 100%;
    height: 76px;
    left: 0px;
    top: 4467px;
    background: #f2f2f2;
    border: 3px solid #262626;
    padding-left: 5%;
    padding-right: 5%;
  }
  footer {
    display: inline-flexbox;
    background-color: black;
    color: white;
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px){
    .home {
      grid-template-columns: 100%;
      padding: 1%;
    }
    .HomeA{
      box-sizing: border-box;
      width:100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      outline: 1px solid red;
    }
    .HomeB{
      box-sizing: border-box;
      width:100%;
      display:flex;
      justify-content: center;
      align-items: flex-start;
      outline: 1px solid red;
    }
    .work{
      padding: 1%;
      grid-template-columns: 100%;
      grid-template-areas: "skills" "caseStudies" "clients";
    }
    #caseStudy{
    grid-template-columns: 100%;
    }
    .cair{
      padding:19px;
    }
    .cosmos{
    margin: 19px;
    }
    .wButton{
      margin: 90px;
    }
    .pageDown{
      box-sizing: border-box;
      position: fixed;
      margin-right: -7%;

    }
    .pageUp{
      box-sizing: border-box;
      position: fixed;
      margin-right: -7%;
    }
    /*This is where the hamburger menu starts*/
    header{
      height: 72px;
      outline: 1px solid red;
    }
    nav{
      height: 72px;
    }
    #menuIcon{
      display: block;
      margin-right: 24px;
    }
    nav li{
      display: none;
    }

    
      /*This is where the hamburger menu ends*/
  }