header {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    left: 0px;
    top: 0px;
    background: #262626;
    border: 3px solid #736853;
  }
  #logo {
    height: 48px;
    width: auto;
    margin: auto;
    overflow: visible;
  }
  nav {
   float:right;
   margin-top: 0px;
  }
  #navBar{
    
    text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #navEl{
    display:inline-block;
  } 
  body {
    overflow: visible;
  }
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 1053px;
    left: 0px;
    top: 64px;
    background-color: 262626;
    
  }
  .HomeA {
    background-color: red;
  }
  .HomeB {
    background-color: green;
  }
  .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 1117px;
    left: 0px;
    top: 1117px;
    background: #ca4f37;
  }
  .WorkA {
    background-color: yellow;
  }
  .WorkB {
    background-color: orange;
  }
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 1117px;
    left: 0px;
    top: 2234px;
    background: #00334f;
  }
  .InfoA {
    background-color: Purple;
  }
  .InfoB {
    background-color: pink;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 1117px;
    left: 0px;
    top: 3351px;
    background: #736853;
  }
  .contactInfo {
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: brown;
  }
  .footerNav {
    box-sizing: border-box;
    width: 100%;
    height: 76px;
    left: 0px;
    top: 4467px;
    background: #f2f2f2;
    border: 3px solid #262626;
  }
  footer {
    background-color: black;
    color: white;
  }
  /* Mobile */
  .container {
    padding: 14px;
  }
  
  /* Tablet */
  @media (min-width: 600px) {
    .container {
      padding: 20px;
    }
  }
  
  /* Desktop */
  @media (min-width: 900px) {
    .container {
      padding: 24px;
    }
  }