html{
  background-color: #262626;
}
.column{
  flex: 50%;
}
@font-face{
  font-family: Proxima Nova;
  src: url(cssfonts/proxima_nova_reg-webfont.woff)format('woff'),
  url(cssfonts/proxima_nova_reg-webfont.woff2)format('woff2');
}
@font-face{
  font-family: Trade Gothic;
  src: url(cssfonts/TradeGothicNextRust-Heavy.woff)format('woff'),
  url(cssfonts/TradeGothicNextRust-Heavy.woff2)format('woff2');

}
p{
  font-family: Trade Gothic;
  color:#f2f2f2;
  font-size: 72px;
}
header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  left: 0px;
  top: 0px;
  background: #262626;
}
#logo {
  display: inline-flex;
  margin-top: 19px;
  height: 64px;
  width: auto;
  margin: auto;
  overflow: visible;
}
a:link {
  color: #f2f2f2;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #f2f2f2;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: #f2f2f2;
  background-color: transparent;
  text-decoration: none;}

a:active {
  color: #ca4f37;
  background-color: transparent;
  text-decoration: underline;
}
nav {
 float:right;
 margin-top: 19px;
}
#navBar{
  margin-top: 19px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#circle{
  align-items: center;
  width:24px;
  margin-right: 19px;
}
#navEl{
  display:inline-flex;
  margin-left: 19px;
  margin-right: 19px;
  font-family: 'Helvetica';
  font-size: 24px;
} 
body {
  box-sizing: border-box;
  overflow: visible;
}
.home {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 1060px;
  left: 0px;
  margin-top: 64px;
  padding-left: 5%;
  padding-right:5%;
}
.HomeA {
  display:flexbox;
  box-sizing: border-box;
  width: 100%;
  float: left;
  background-color: #262626;
}
.HomeB {
  display: flexbox;
  box-sizing: border-box;
  width: 100%;
  float:right;
  background-color: #262626;
}
#bezier{
  display: flex;
  box-sizing: border-box;
  width: 56%;
  height: auto;
  min-width: 300px;
  margin-top: 25%;
  float:right;
  margin-right: 10%;
}
#openLink { 
  box-sizing: border-box;
  display: flex;
  Margin-top: 35%;
}
.pageDown{
box-sizing: border-box;
position: fixed;
bottom:90px;
right: 90px;
}
.pageUp{
  box-sizing: border-box;
  position: fixed;
  bottom:150px;
  right: 90px;
  }


.work {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 1060px;
  left: 0px;
  top: 1181px;
  background: #ca4f37;
  padding-left: 5%;
  padding-right:5%;
}
.WorkA {
  background-color: #ca4f37;
}
.WorkB {
  background-color: #ca4f37;
}
.info {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 1060px;
  left: 0px;
  top: 2241px;
  background: #00334f;
  padding-left: 5%;
  padding-right:5%;
}
#pictureVasa{
  width: 250px;
  align-self: center;
  justify-self: center;

}
.InfoA {
  background-color: #00334f;
}
.InfoB {
  background-color: #00334f;
}
.contact {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 1060px;
  left: 0px;
  top: 3301px;
  background: #736853;
  padding-left: 5%;
  padding-right:5%;
}
.contactInfo {
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: #262626;
}
form {
  font-family: Helvetica, sans-serif;
}
h3 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
input[type="text"],
select,
[type="tel"],
[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 3px solid #736853;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  resize: vertical;
}

input[type="submit"] {
  background-color: #ca4f37;
  color: white;
  padding: 12px 20px;

  border-radius: 5px;
  border: 3px solid #736853;

  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #f2f2f2;
  color: #262626;
}

#container {
  width: 500px;
  height: 65%;
  border-radius: 5px;
  background-color: #262626;
  padding: 1%;
  color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
}

#emailPhonebox {
  display: inline-block;
}

#fname {
  display: block;
  width: 500px;
  height: 24px;
}
#contactP {
  display: block;
  width: 500px;
}

#Phone {
  display: block;
  width: 500px;
  height: 24px;
}
#email {
  display: block;
  width: 500px;
  height: 24px;
}
#message {
  display: block;
  height: 200px;
  width: 500px;
}

.footerNav {
  box-sizing: border-box;
  width: 100%;
  height: 76px;
  left: 0px;
  top: 4467px;
  background: #f2f2f2;
  border: 3px solid #262626;
  padding-left: 5%;
  padding-right: 5%;
}
footer {
  display: inline-flexbox;
  background-color: black;
  color: white;
}

